.header {
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 1.7px;
  text-align: center;
  text-transform: uppercase;
  color: #212a2f;
  background-color: #fff;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;

    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
  }

  &__nav-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
  }

  &__user-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
  }

  &__nav-link {
    align-items: center;

    &:first-of-type {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 20px;
    }
  }

  &__icons {
    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      margin: 0;
      width: 25px;
      height: 25px;
    }
  }
}

.logo {
  margin-right: -92px;
}
