<section class="section">
  <div class="container">

    <h2>Our Favorites</h2>

    <ul class="first">
      <li>
        <button type="button">everyday</button>
      </li>
      <li>
        <button type="button">running</button>
      </li>
      <li>
        <button type="button">travel</button>
      </li>
    </ul>
    <hr size="2px" color="#D3D4D5">


    <ul class="second">

      <li class="shop">
        <img src="img/favourites/shoes-one.jpg" width="395" height="395" alt="photo grey shoes">
        <div>
          <a class="link-one" href="#">shop men</a>
          <a class="link-two" href="#">shop women</a>

          <div class="desc">
            <h3>Wool Runner</h3>
            <hr size="1px" color="D3D4D5">
            <span class="desc--icon">Cozy Sneaker</span>
          </div>

        </div>
      </li>
      <li class="shop">
        <img src="img/favourites/shoes-two.jpg" width="395" height="395" alt="photo white sneaker">
        <div>
          <a class="link-one" href="#">shop men</a>
          <a class="link-two" href="#">shop women</a>

          <div class="desc">
            <h3>Tree Runner</h3>
            <hr size="1px" color="D3D4D5">
            <span class="desc--icon-two">Light and Breezy Sneaker</span>
          </div>

        </div>
      </li>
      <li class="shop">
        <img src="img/favourites/shoes-three.jpg" width="395" height="395" alt="photo rain-ready shoes">
        <div>
          <a class="link-one" href="#">shop men</a>
          <a class="link-two" href="#">shop women</a>

          <div class="desc">
            <h3>Wool Runner Mizzle</h3>
            <hr size="1px" color="D3D4D5">
            <span class="desc--icon-three">Rain-Ready Sneaker</span>
          </div>

        </div>
      </li>
    </ul>
    
  </div>
</section>
